environments/development/build/*
environments/development/contracts/*

environments/production/build/*
environments/production/contracts/*

environments/staging/build/*
environments/staging/contracts/*

environments/test/build/*
environments/test/contracts/*
