body {
  margin-left: 3%;
  margin-right: 5%;
  margin-top: 3%;
  font-family: "Open Sans", sans-serif;
  word-wrap: break-word;

}

#accounts {
   word-wrap: break-word;
}

label {
  display: inline-block;
  width: 100px;
}

input {
  width: 500px;
  padding: 5px;
  font-size: 16px;
}

button {
  font-size: 16px;
  padding: 5px;
}

h1, h2 {
  display: inline-block;
  vertical-align: middle;
  margin-top: 0px;
  margin-bottom: 3px;
}

h2 {
/*  color: #AAA;*/
  font-size: 24px;
}

h3 {
  font-weight: normal;
  color: #AAA;
  font-size: 18px;
}

.black {
  color: black;
}

#balance {
  color: black;
}
